@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CountryClubMVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link asp-append-version="true" rel="stylesheet" href="~/lib/font-awesome/css/all.css" />  
    <link asp-append-version="true" rel="stylesheet" href="~/lib/toastr.js/toastr.min.css" /> 
    @*<link rel="stylesheet" href="~/CountryClubMVC.styles.css" asp-append-version="true" />*@
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">CountryClubMVC</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Početna</a>
                        </li>
                        @if (User.Identity.IsAuthenticated && (User.Claims.Last().Value == "1" || User.Claims.Last().Value == "2"))
                        {
                            <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Uloga" asp-action="Index">Uloge</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Mjesta" asp-action="Index">Mjesta</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Osobe" asp-action="Index">Osobe</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Rezervacije" asp-action="Index">Popis rezervacija</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Racuni" asp-action="Index">Svi računi</a>
                        </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Clanarine" asp-action="Index">Članarine</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Usluge" asp-action="Index">Usluge</a>
                        </li>
                        @if (!User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Account" asp-action="Registracija">Registracija</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Account" asp-action="Prijava">Prijava</a>
                        </li>
                        }
                        @if (User.Identity.IsAuthenticated)
                        {
                             <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Account" asp-action="MojRacun">Moj račun</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Account" asp-action="Odjava">Odjava</a>
                        </li>
                            @if (User.Claims.Last().Value == "3")
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-controller="Rezervacije" asp-action="IndexAccount">Moje rezervacije</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-controller="Racuni" asp-action="IndexAccount">Moji računi</a>
                                </li>
                            }
                        }
                        
                        
                       
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container body-content">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="fixed-bottom">
        <div class="container" style="text-align:center;">
            &copy; 2022 - CountryClub; @@FER</a>
        </div>
    </footer>
    <script>
    window.applicationBaseUrl = '@Url.Content("~/")';
  </script>
    <script asp-append-version="true" src="~/lib/jquery/dist/jquery.min.js"></script>
    <script asp-append-version="true" src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script asp-append-version="true" src="~/lib/toastr.js/toastr.min.js"></script>  
    <script src="~/js/site.js" asp-append-version="true"></script>
    <partial name="ShowMessage"/>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
