html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.validation-summary-errors {
    font-weight: bold;
    color: #a94442;
}

.validation-summary-valid {
    display: none;
}

.input-validation-error {
    border-color: red;
}