@model DomainModel.Mjesto
@{
  ViewBag.Title = "Dodaj novo mjesto";
}

<h5>Dodaj novo mjesto</h5>

<form method="post">
  <div asp-validation-summary="All"></div>
  <div class="form-floating mb-3">
    <input asp-for="NazivMjesto" class="form-control">
    <label asp-for="NazivMjesto"></label>
  </div>
  <div class="form-floating mb-3">
    <input asp-for="Pbr" class="form-control">
    <label asp-for="Pbr"></label>
  </div>
  <div>
    <button type="submit" class="btn btn-sm btn-primary">Save <i class="fas fa-save ms-1"></i></button>
  </div>
</form>

@section Scripts{
  <partial name="_ValidationScriptsPartial"/>
}
