@model DomainModel.Mjesto
@{
  ViewBag.Title = $"Promijeni mjesto {Model.NazivMjesto}";
}

<h5>Uredi mjesto <i>@Model.NazivMjesto</i></h5>

<form method="post">
  <input type="hidden" asp-for="IdMjesto"/>
  <div asp-validation-summary="All"></div>
  <div class="form-floating mb-3">
    <input asp-for="NazivMjesto" class="form-control">
    <label asp-for="NazivMjesto"></label>
  </div>
  <div class="form-floating mb-3">
    <input asp-for="Pbr" class="form-control">
    <label asp-for="Pbr"></label>
  </div>
  <div>
    <button type="submit" class="btn btn-sm btn-primary">Spremi <i class="fas fa-save ms-1"></i></button>
    <button type="button" class="btn btn-sm btn-danger" onclick="location.href='@Url.Action("Index","Mjesta")';">Odustani <i class="fas fa-cancel ms-1"></i></button>
  </div>
</form>

@section Scripts{
  <partial name="_ValidationScriptsPartial"/>
}
