@{
    ViewData["Title"] = "Početna";
}

<div class="text-center">
    <h1 class="display-4">Dobrodošli u Country Club</h1>
    <p>Najbolji klub u gradu!</p>
    <div class="row">
        <div class="col-4">
            <img src="@Url.Content("~/Imports/golfteren.jpg")" />
        <p>Uživate li u golfu?</p>
        </div>
        <div class="col-4">
            <img src="@Url.Content("~/Imports/tenis.jpg")" alt="Tenis" />
        <p>Ili pak tenisu?</p>
        </div>
        <div class="col-4">
            <img src="@Url.Content("~/Imports/spa.jpg")" />
        <p>Ili se želite opustiti?</p>
        </div>
    </div>
    <div>
        <br />
        <hr />
        <p>Onda ste na pravom mjestu! Registrirajte se i postanite član našeg kluba. Iskoristite mnoge pogodnosti koje nudimo.</p>
    </div>
    
</div>
