@{
    ViewData["Title"] = "Početna";
}

<div class="text-center">
    <h1 class="display-4">Dobrodošli u Country Club</h1>
    <p>Najbolji klub u gradu!</p>
    <div class="row">
        <img src="..//golfteren.jpg" alt="Golf teren" />
    </div>
</div>
